body {
  margin: 0;
  font-family: Arial;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu-box {
  width: 100px;
  height: 30px;
  border: 1px solid black;
}

.perfil {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

/* Busca */
.busca {
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  width: 90%;
  margin: 20px auto;
}

.busca input {
  flex: 1;
  border: none;
}

/* Produtos */
.carrossel {
  display: flex;
  justify-content: center;
  position: relative;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  padding: 10px;
}

/* Setas */
.seta {
  position: absolute;
  font-size: 20px;
  border: none;
  background: none;
}

.esquerda {
  left: 10px;
  height: 200px;
}

.direita {
  right: 10px;
  height: 200px;
}

/* Footer */
.footer {
  background-color: orange;
    text-align: center;
  margin-top: 20px;
  font-size: 16;
}
